* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

:root {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
}

button {
  cursor: pointer;
}

body {
  display: flex;
  background-color: black;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
